<p><%= @snack.name %></p>
<p>Price: <%= number_to_currency(@snack.price) %></p>

<section class="location-info">
  <p>Locations Available:</p>
  <ul>
  <% @snack.machines.each do |machine| %>
    <li><%= machine.location %>, <%= machine.total_snacks %> total snacks (average price: <%= number_to_currency(machine.average_snack_price)%>)</li>
  <% end %>
  </ul>
</section>
